<ion-header [translucent]="true">
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-buttons slot="end" id="open-modal-sortby" expand="block">
			<ion-icon name="ellipsis-horizontal" class="mr-2"></ion-icon>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
	<ion-grid>
		<ion-row>
			<ion-col size="12">
				<div class="reviews mt-3 mb-[70px]">
					<div class="flex justify-between">
						<ion-text class="text-base font-medium block mb-2">Reviews</ion-text>
					</div>
					<app-reviews-list [reviewsList]="reviewsList"></app-reviews-list>
				</div>
			</ion-col>
		</ion-row>
	</ion-grid>
	<div class="backdrop-blur-sm bg-white/30 flex gap-4 py-1 fixed bottom-0 left-0 right-0 justify-center px-4 pb-2">
		<ion-fab-button
			type="button"
			class="read-now-fab-btn"
			[routerLink]="[ routePath.NotesDetails + '/' + fileId + routePath.NotesDetailsReviewsCreate]"
			routerLinkActive="router-link-active"
		>
			<ion-icon name="create" class="mr-2" size="small"></ion-icon>
			<ion-text class="uppercase font-medium text-sm">Add a Review</ion-text>
		</ion-fab-button>
	</div>
</ion-content>

<ion-modal #sortByModal trigger="open-modal-sortby" [initialBreakpoint]="0.50" [breakpoints]="[0, 0.50]">
	<ng-template>
		<ion-content class="ion-padding">
			<div class="flex gap-3 items-center modal-header-icon">
				<ion-icon name="filter-circle"></ion-icon>
				<ion-text class="text-lg font-semibold">Filter</ion-text>
			</div>
		</ion-content>
	</ng-template>
</ion-modal>
