<ion-header [translucent]="true">
	<ion-toolbar color="primary">
		<div class="flex items-center mr-1">
			<ion-nav-link router-direction="forward" [component]="SearchComponent">
				<ion-searchbar placeholder="Search" (click)="routeToSearch()" animated="true" #search id="search-input"></ion-searchbar>
			</ion-nav-link>
			<ion-button size="small" fill="clear" id="open-modal-filter" expand="block">
				<ion-icon name="filter" color="light" class=""></ion-icon>
			</ion-button>
			<ion-button size="small" fill="clear" id="open-modal-filter" expand="block">
				<ion-icon name="ellipsis-horizontal" color="light"></ion-icon>
			</ion-button>
		</div>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
	<ion-refresher slot="fixed" (ionRefresh)="handleNoteAPIRefresh($event)">
		<ion-refresher-content pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing..."></ion-refresher-content>
	</ion-refresher>
	@if (isLoaderActive) {
	<div class="flex items-center justify-center h-[300px]">
		<app-loader></app-loader>
	</div>
	}@else {
	<app-notes-listing [notes]="allNotesList"></app-notes-listing>

	}
</ion-content>

<ion-modal #sortByModal trigger="open-modal-filter" [initialBreakpoint]="0.50" [breakpoints]="[0, 0.50]">
	<ng-template>
		<ion-content class="ion-padding">
			<div class="flex gap-3 items-center modal-header-icon">
				<ion-icon name="filter-circle"></ion-icon>
				<ion-text class="text-lg font-semibold">Filter</ion-text>
			</div>
		</ion-content>
	</ng-template>
</ion-modal>
