@if(reviewsList.length > 0) { @for (item of reviewsList; track item.id) {
<div class="my-2">
	<ion-row>
		<ion-col size="2">
			<ion-thumbnail class="profile-image flex justify-center items-center rounded-full bg-zinc-600 text-slate-200">
				<ion-text class="reviewer-name text-base font-medium block">NA</ion-text>
			</ion-thumbnail>
		</ion-col>
		<ion-col size="10">
			<div class="flex justify-between items-center">
				<ion-text class="reviewer-name text-base font-medium block mb-1">{{ item.user?.fullName }}</ion-text>
				<ion-icon name="ellipsis-vertical" (click)="openReviewActionModal(item)"></ion-icon>
			</div>
			@if (item.ratings) {
			<star-rating [starType]="'svg'" [rating]="+item.ratings.rating!" [showHalfStars]="true" [readOnly]="true" [space]="'no'"></star-rating>
			} @if (item.reviewText) {
			<ion-text class="review-text text-sm font-normal block mb-1">{{ item.reviewText }}</ion-text>
			}

			<div class="flex justify-between mt-1">
				<ion-text class="reviewer-name text-[12px] font-medium">{{ item.updatedAt! | timeAgo }}</ion-text>
				<!-- <div class="flex gap-2 items-center">
						<ion-icon name="thumbs-up-outline" class="text-base"></ion-icon>
						<ion-text class="text-sm font-medium">10 </ion-text>
					</div> -->
			</div>
		</ion-col>
	</ion-row>
</div>
} }@else {
<div class="flex items-center justify-center h-[200px] text-lg">{{ noDataTitle }}</div>
}
<ion-modal #reviewActionModal trigger="open-action-modal" [initialBreakpoint]="0.15" [breakpoints]="[0, 0.15]">
	<ng-template>
		<ion-content class="ion-padding">
			<div class="flex gap-3 items-center modal-header-icon mb-3" (click)="editFileReview()">
				<ion-icon name="create-outline"></ion-icon>
				<ion-text class="text-base font-normal">Edit</ion-text>
			</div>
			<div class="flex gap-3 items-center modal-header-icon">
				<ion-icon name="trash-outline"></ion-icon>
				<ion-text class="text-base font-normal">Delete</ion-text>
			</div>
		</ion-content>
	</ng-template>
</ion-modal>
