<ion-grid>
	<ion-row>
		@for (item of [1,2,3,4,5]; track $index) {
		<ion-col size="6" sizeSm="4">
			<ion-nav-link router-direction="forward" [component]="NoteDetailsComponent">
				<ion-card class="mx-0" (click)="openDetailsPage($index)">
					<img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" class="h-[200px]" />
					<ion-card-header class="px-[8px] py-[12px]">
						<ion-card-subtitle class="truncate-two">All about PDF express can be found in the document. PDF.js is used for viewing PDF files.</ion-card-subtitle>
					</ion-card-header>
				</ion-card>
			</ion-nav-link>
		</ion-col>
		}
	</ion-row>
</ion-grid>
