@import url("./variables.scss");

.input-control {
	margin-top: 16px;

	input {
		border-radius: var(--radius-md);
	}
}

.truncate-two {
	width: 100%;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.primary-ripple {
	color: var(--ion-color-primary);
}
