@import url("./variables.scss");

ion-button {
	--padding-top: 16px;
	--padding-bottom: 16px;
	--box-shadow: 0px 1px 2px 0px #1018280d;
	--border-radius: var(--radius-md);
}

.sc-ion-searchbar-md-h {
	--border-radius: var(--radius-md);
}
.searchbar-input.sc-ion-searchbar-md {
	padding-top: 8px;
	padding-bottom: 8px;
	box-shadow: none;
	border: 1px solid var(--border-color);
	border-radius: 40px;

	&:focus {
		border: 1px solid var(--ion-color-primary);
	}
}
.searchbar-search-icon.sc-ion-searchbar-md {
	top: 13px;
}

ion-toolbar .sc-ion-searchbar-ios-h {
	padding-top: 8px;
	padding-bottom: 8px;
}

:host(.checkbox-label-placement-end) .label-text-wrapper {
	margin-inline-start: 8px !important;
}

ion-checkbox {
	--border-radius: var(--radius-sm);
	--size: 18px;
	--border-color: var(--border-color);
}

ion-checkbox {
	&::part(container) {
		padding: 2px;
	}
	&::part(label) {
		margin-inline-start: 12px;
	}
}

ion-card {
	box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

ion-modal {
	&::part(handle) {
		background: var(--ion-color-primary);
		width: 90px;
		height: 4px;
	}

	&::part(content) {
		border-radius: 16px;
	}
}
