<ion-content [fullscreen]="true">
	<ion-tabs>
		<ion-tab-bar slot="bottom">
			<ion-tab-button tab="library">
				<ion-icon name="library"></ion-icon>
				Library
			</ion-tab-button>
			<ion-tab-button tab="notes-listing">
				<ion-icon name="receipt"></ion-icon>
				Notes
			</ion-tab-button>
			<ion-tab-button tab="profession">
				<ion-icon name="layers"></ion-icon>
				Profession
			</ion-tab-button>
			<ion-tab-button tab="profile">
				<ion-icon name="person-circle"></ion-icon>
				Profile
			</ion-tab-button>
		</ion-tab-bar>
	</ion-tabs>
</ion-content>
